<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Map server -->
  <arg name="map_file" default="/home/cch-student/catkin_ws/src/miriam/sim_stage/maps/robotino3/sample_lowres.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="0.0"/>

  <!-- Global Rob ID --> 
  <node name="global_rob_id" pkg="multirobotglobalplanner" type="robot_id_pub.py" output="screen" />

</launch>
